#heading{
  background-color: pink;
  text-align: center;
  padding: 7% 15%;
}
.w-100{
  width: 100px;
}
#personality{
  text-align: center;
  background-color: pink;
  padding: 3% 10%;
}

.personality-p{
  font-size: 20px;
  font-family: cursive;
}
.personality-h{
  color: #bb65b4;
  font-weight: bold;
}


#introduction{
  text-align: center;
  padding: 3% 10%;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: pink;
}
hr{
  border-style: dotted;
  border-color: pink;
  border-width: 5px;
  width: 20px;

}
h4{
  font-weight: bold;
}

body{
  font-family: Montserrat-bold;
}
.socials-h{
  font-weight: bold;
}

.card{
  margin: 15px;
}

#footer{
background-color: #e1b8d2;
text-align: center;
padding: 7%;
}
p{
  margin: 15px;
font-weight: 100;
  line-height: 1.5;
}


.pro-img{
  width: 400px;
}



.ms-auto{
  padding-left: 800px;
}
.profile-img{
  width: 200px;
  border-radius: 100%;
}
#social-cards{
  padding: 5% 7%;
  text-align: center;
  background-color: pink;
}
